@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&family=Leckerli+One&family=Noto+Sans&family=Raleway:wght@100&family=Roboto:ital,wght@1,300&family=Shadows+Into+Light&display=swap');
/* font-family: 'Fredoka', sans-serif;
font-family: 'Leckerli One', cursive;
font-family: 'Noto Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Shadows Into Light', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Fjalla+One&family=Kalam&family=Merriweather&family=Titan+One&display=swap');
/* font-family: 'Courgette', cursive;
font-family: 'Fjalla One', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Merriweather', serif;
font-family: 'Titan One', cursive; */

/* Post Container */
.post-container {
  margin-top: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* max-height: 800px; */
}

.post {
  border-radius: 5px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  
  max-width: 300px;
  /* max-height: 700px; */
  box-shadow: 1px 3px 3px .6px rgb(211, 211, 211), -1px 2px 5px .6px rgb(199, 199, 199); 

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Post Content */
/* State Name */
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 10px;
}

.state-name {
  font-family: 'Courgette', cursive;
  text-decoration-line: underline;
  font-size: min(max(18px, 1.6vw), 24px);
}

.date {
  font-size: min(max(12px, 1.1vw), 15px);
  font-family: 'Fredoka', sans-serif;
}

/* Post picture */
.post-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-pic img {
  width: 90%;
  height: 90%;
  display: block;
}

.post-body {
  padding: auto;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.username {
  color:  rgb(73, 63, 63);
  font-size: min(max(14px, 2vw), 18px);
}

.username a {
  font-family: 'Courgette', cursive;
}

.caption {
  margin-top: 10px;
  margin-bottom: 10px;
  background: rgb(98, 164, 221);
  border-radius: 15px;
  padding: 10px;
  box-shadow: 5px 5px 10px 0px rgba(2, 24, 34, 0.2);
  font-size: min(max(13px, 2.3vw), 16px);

  font-family: 'Kalam', cursive;
}

.edit-delete-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.username > a {
  text-decoration: none;
  color:black;
}

.edit-delete-buttons > button {
  border: none;
  background: none;
  cursor: pointer;
}

.post-bottom {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 0;
}