.sidebar {
    border: 1px solid black;
    width: 250px;
    height: 90%;

    position: fixed;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    justify-content: space-between;
}

.sidebar-items {
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 1px solid green; */

    width: 90%;
}

.sidebar-items ul {
    font-size: 16px;
    border: 1px solid black;
    width: 90%;
    padding: 10px;
    margin: 5px;

    list-style: none;

    display: flex;
    flex-direction: column;
}

.sidebar-items ul > * {
    margin: 10px;
}

.sidebar-items a {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 5px;
}

.sidebar-items a:hover {
    cursor: pointer;
}


/* Footer */
footer {
    background-color: rgb(228, 227, 227);
    width: 99%;
}

footer > div > p {
    display: relative;
    height: 50px;
    /* color:#6287a2; */
    font-size: 15px;
    left: 10px;
}

.footer-link {
    text-decoration: none;
    /* color:#6287a2; */
}